# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/
coverage/

# Vite
.vite/

# env variables
.env
.env.*
!.env.example

# logs
*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporary files
tmp/
temp/
uploads/

# AWS
.aws/

*.pem
*.key
*.p12
*.pfx

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Tool cache
.cache/
.eslintcache

#Typescript
*.tsbuildinfo